---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const allPosts = await getCollection("portfolio");
const pageTitle = "Portfolio";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Layout pageTitle={pageTitle}>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost
              url={`/portfolio/${post.slug}/`}
              title={post.data.title}
              description={post.data.description}
              hero={post.data.hero}
            />
          ))
        }
      </ul>
    </Layout>
  </body>
</html>
