---
import { Image } from "astro:assets";
const { title, url, tags, hero, description } = Astro.props;
---

<article>
  <Image src={hero} alt={title} />
  <!-- <img src={hero} alt={title} /> -->
  <!-- <img loading="lazy" src={hero} alt={title} /> -->
  <h2>{title}</h2>
  <p>{description}</p>
  <a href={url} role="button" class="outline">View Project</a>
</article>
